[Unit]
Description=SIGINT Central Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=@PROJECT_DIR@
ExecStart=@PROJECT_DIR@/venv/bin/python3 @PROJECT_DIR@/src/sdr.py server configs/server.json --web
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
